version: '3'

services:
  nginx:
    container_name: nginx
    image: nginx:1.19.6
    ports:
      - "80:80"
    volumes:
      - ./content:/usr/share/nginx/html
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - net_demo
  hellonginxdemo:
    container_name: hellonginxdemo
    image: nginxdemos/hello:latest
    expose:
      - "80"
    networks:
      - net_demo
  httpd:
    container_name: httpd
    image: centos/httpd-24-centos7:2.4
    expose:
      - "8080"
    networks:
      - net_demo
  hello-world-rancher:
    container_name: hello-world-rancher
    image: rancher/hello-world:latest
    expose:
      - "80"
    networks:
      - net_demo

networks:
  net_demo: